@font-face {
  font-family: shipment;
  src: url('./assets/Shipment.ttf');
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
}

header {
  background-color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
}

.header-text {
  font-family: shipment;
  font-size: 5rem;
  color: #bb4430;
  margin: 0;
}

.start-game-btn {
  border: solid 4px #bb4430;
  border-radius: 5px;
  width: 8rem;
  height: 2rem;
}

.start-game-btn:hover {
  cursor: pointer;
}

.error-text {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  border-radius: 10px;
  border: solid 3px darkorchid;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#ship-input-label {
  color: white;
  font-size: 1.3rem;
}

#iteration-text {
  color: lawngreen;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #efe6dd;
}

.board-containers {
  display: flex;
  padding: 30px;
  gap: 2rem;
  justify-content: center;
}

.middle-container {
  max-width: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-container p {
  font-size: 1.8rem;
  margin: 0;
}

.draggable-ship {
  display: flex;
}

.draggable-ship div {
  border: solid 1px black;
  background-color: grey;
  border-radius: 5px;
  width: 43px;
  height: 43px;
}

.middle-container button {
  width: 120px;
  width: 8rem;
  height: 2rem;
}

.draggable-ships-container {
  min-height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dynamic-info-text {
  font-size: 1.4rem;
}

.player-board-container,
.computer-board-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.player-board-top,
.computer-board-top {
  display: flex;
  height: 50px;
  width: 500px;
}

.empty-div {
  height: 50px;
  width: 50px;
}

.player-board-number-container,
.computer-board-number-container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 450px;
}

.player-board-bot,
.computer-board-bot {
  display: flex;
  height: 450px;
  width: 500px;
}

.player-board-letter-container,
.computer-board-letter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 450x;
  width: 50px;
}

.player-board-letter-container > div,
.player-board-number-container > div,
.computer-board-letter-container > div,
.computer-board-number-container > div {
  font-size: 1.2rem;
  font-weight: bold;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-board,
.computer-board {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: rgb(105, 216, 231);
  border: solid 8px lightslategray;
  border-radius: 5px;
}

.player-board > div,
.computer-board > div {
  border: solid 1px black;
  border-radius: 5px;
}

.player-board > div:hover,
.computer-board > div:hover {
  transform: scale(1.2);
  border-color: red;
}

.board-and-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-player-texts {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.afloat {
  background-color: grey;
}

.hit {
  background-color: #bb4430;
}

.miss {
  background-color: white;
}

.sunk {
  background-color: black;
}

footer {
  background-color: black;
  color: white;
  min-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
